page-welcome {
    ion-title{
        text-align: center !important;
    }
    #welcome{
        background-color: color($colors,"energy");
        h1{
            font-size: 32px;
            margin-top: 50px;
        }
        #topButton{
            margin-top: 150px;            
        }
    }
    .icon{
        padding-right: 5px;
    }
}
